.custom-textarea {
    -fx-background-insets: 0;
    -fx-padding: 4 4 2 4;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.custom-textarea .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
}

.custom-textarea .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.custom-textarea .scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.custom-textarea .scroll-pane>.viewport {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.custom-textarea .content {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

/* Import language tag styles */
@import url("language-tag.css");