.translation-variant-field {
    -fx-spacing: 5;
}

.action-link {
    -fx-font-size: 12px;
    -fx-padding: 0;
    -fx-text-fill: #007acc;
}

.action-link:hover {
    -fx-underline: true;
}

.resize-handle {
    -fx-cursor: se-resize;
}

.resize-hit-area {
    -fx-cursor: se-resize;
}

.custom-textarea.locked .content {
    -fx-background-color: transparent;
}